{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block monTitre %}
    Erreur 404 - Page non trouvée
{% endblock %}
{% block body %}
    <p class="border border-dark rounded p-2 m-2 text-white bg-danger text-center m-3">
        La page demandée n'a pas pu être localisée. Vérifiez l'absence de toute URL
        mal orthographiée.
    </p>
    <div class="row justify-content-end">
        <a href="{{ path('accueil') }}" class="btn btn-info m-3">Retourner à la page d'accueil</a>
    </div>
{% endblock %}
